<div class="text-center" ng-controller="SchedSettingsCtrl">
	<div class="classes">
		<div  class="available-classes class-view">
			Filter: <input type="text" ng-model="search"></input>
			<div ng-hide="major">
				<major  ng-repeat="major in courses|filter:search" maj="major"></major>
			</div>
			<div ng-show="major">
				<button ng-click="setMajor()">Back</button> <br>
				<course ng-repeat="course in major.courses|filter:search" crse="course" ></course>
			</div>
		</div>
		<div class="my-classes class-view">
		</div>
	</div>
	<div class="settings">
		<div ng-show="course">
			<br>
			<h2>{{course.name}} {{course.ident}}</h2>
			<div>
				<input type="text" ng-model="groupName">
				<button ng-click="addGroup()">Add Group</button>	
			</div> 
			<div ng-show="groups">
				Group <select ng-model="curGroup">
					<option ng-repeat="group in groups">{{group}}</option>
				</select>
			</div>
			<div>
				Priority <select ng-click="setCoursePriority(classPr)" ng-model="classPr">
					<option ng-repeat="pr in priorityLevels">{{pr}}</option>
				</select>
			</div>
			<div class="professors">
				Professor <select ng-model="selectedProf" ng-change="addProf(selectedProf)">
					<option ng-repeat="prof in course.instructors">
						{{prof}}
					</option>
				</select>
				<table class="prof-table">
					<thead>
						<th>Professor</th>
						<th>Priority</th>
						<th>Remove</th>
					</thead>
					<tbody>
						<tr ng-repeat="prof in course.professors">
							<td>{{prof.name}}</td>
							<td>
								<select ng-model="prof.priority">
									<option ng-repeat="pr in priorityLevels">{{pr}}</option>
								</select>
							</td>
							<td><button ng-click="removeProf(prof)">remove</button></td>
						</tr>
					</tbody>
				</table>
				<button class="add-course-but" ng-click="addCourse()">Add Course</button>
			</div>
		</div>
	</div>
</div>