<div ng-show="groupName">
	<br>
	<h2>{{groupName}}</h2>
	<div>
		Priority <select ng-model="group.priority">
			<option ng-repeat="pr in priorityLevels">{{pr}}</option>
		</select>
	</div>
	<div>
		Max Cr.Hrs.: <input class="num-input" ng-model='group.maxHrs' type="number"><br>
		Min Cr.Hrs.: <input class="num-input" ng-model='group.minHrs' type="number"><br>
		Min Courses.: <input class="num-input" ng-model='group.minCourses' type="number"><br>
		Max Courses.: <input class="num-input" ng-model='group.maxCourses' type="number"><br>
		(A value of -1 means you do not have a strict minimum or maximum, courses will be assigned from this group as allowed or needed)
	</div>
</div>