<div class="center-page">
	<h1 class="loading-text">Generating Schedules</h1>
	<br>
	<span class="loading-dots">
		<span class="loading-dot" ng-style="dotStyle[0]" ng-show="showDot[0]">.</span>
		<span class="loading-dot-spot-holder" ng-hide="showDot[0]"> </span>
		<span class="loading-dot"ng-style="dotStyle[1]" ng-show="showDot[1]">.</span>
		<span class="loading-dot-spot-holder" ng-hide="showDot[1]"> </span>
		<span class="loading-dot"ng-style="dotStyle[2]" ng-show="showDot[2]">.</span>
		<span class="loading-dot-spot-holder" ng-hide="showDot[2]"> </span>
	</span>
</div>