<div class="settings">
	Pref Cr.Hrs.:<input class="num-input" ng-model='prefHrsMin' ng-change='setPrefHours()' type="number"> - <input class="num-input" ng-model='prefHrsMax' ng-change='setPrefHours()' type="number"><br>
	<p>(A value of -1 means you do not have a strict minimum or maximum, courses will be assigned from this group as allowed or needed)</p>
	<br>
	<p>Based on the settings you've set for your group, the minimum amount of credit hours you're willing to take is {{minMaxHrs.minHrs}} and the maximum amount of credit hours you're willing to take is {{minMaxHrs.maxHrs}}</p>
</div>