<div class="available-classes class-view">
	Filter: <input type="text" ng-model="search"></input>
	<div ng-show="viewGroups">
		<div ng-repeat="(group, value) in groups" class="square" ng-click="expandGroup(group)">
			<p>{{group}}</p>
		</div>
	</div>
	<div ng-hide="viewGroups">
		<button ng-click="toggleView()">Back</button> <br>
		<div  ng-repeat="course in group.courses |filter:search" class="square" ng-click="expandCourse(course)">
			<p >{{course.name}} {{course.ident}}</p>
			<button ng-click="removeCourse(course)" class="x-button">x</button>
		</div>
	</div>
</div>